body, html {
    margin: 0;
    padding: 0;
}

/* change theme of website */
:root.dark {
    --bg-color: #121212;
    --logo: rgba(18, 18, 18, 0.5);
    --form: #3a3a3a;
    color: white;
    --bg-image: url("./img/city_dark.jpg");
    --theme-border: white;
    --a-color: white;
    transition: all 1s ease;
}

:root.light {
    color: black;
    --bg-color: rgb(243, 243, 243);
    --logo: rgba(243, 243, 243, 0.5);
    --form: rgb(255, 255, 255);
    --bg-image: url("./img/city_light.jpg");
    --theme-border: black;
    --a-color: black;
    transition: all 1s ease;
}

/* styles for container holding everything */
.container {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
}

.select_theme {
    position: absolute;
    align-self: flex-end;
    border: 2px solid var(--theme-border);
    background-color: var(--bg-color);
    border-radius: 10px;
    margin: 10px 5px 0 0;
}

.select_theme > button {
    width: fit-content;
    height: fit-content;
}

/* styles for left side with image */
.logo_img {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 40vw;
    background-image: var(--bg-image);
    background-size: cover;
    background-repeat: no-repeat;
}

.logo_card {
    display: flex;
    margin-top: 20%;
    height: 20%;
    width: 100%;
    background-color: var(--logo);
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 3vw;
    font-style: italic;
}

.logo_card > img {
    display: inline;
    height: 4em;
    width: 4em;
}

.citation1,
.citation2 {
    margin-top: auto;
    align-self: center;
}

.citation1 > a,
.citation2 > a {
    color: var(--a-color);
}

.citation2 {
    display: none;
}

/* styles for right side with sign up form */
.info_cards {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 60vw;
}

.info_text, 
.info_login {
    height: 30vh;
    width: auto;
}

.info_text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
}

.info_text > p {
    margin-top: 40px;
    width: 50vw;
}

.info_form {
    height: 40vh;
    width: auto;
    background-color: var(--form);
    padding-left: 20px;
    box-shadow: 0 5px 5px gray;
}

.sign_up_form {
    display: flex;
    width: 50%;
    justify-content: space-between
}

label {
    display: block;
    font-size: 18px;
}

input {
    margin-bottom: 10%;
    width: 15vw;
    height: 10%;
    border-radius: 10px;
}

input:focus {
    outline: 0;
    border: 2px solid blue;
    box-shadow: 2px 2px 2px rgb(61, 57, 57);
}

input:valid {
    outline: 0;
    border: 2px solid greenyellow;
}

input:not(:placeholder-shown):invalid {
    outline: 0;
    border: 2px solid red;
}

.input_right {
    margin-left: 10%;
}

.info_login {
    padding: 25px 0px 0px 20px;
}

button {
    font-size: 2vh;
    border-radius: 10px;
    width: 10vw;
    height: 5vh;
    min-width: 80px;
}

@media screen and (min-width: 1000px) {
    .info_text > p {
        font-size: 30px;
    }
}

@media screen and (max-width: 999px) {
    .info_text > p {
        font-size: 20px;
    }
}