body, html {
    margin: 0;
    padding: 0;
}

:root {
    --light-color: white;
    --dark-color: #121212;
}

.container {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: var(--dark-color);
    margin: 0;
    padding: 0;
}

.logo_img {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 70vh;
    background-image: url(./img/city_dark.jpg);
    background-size: 100%;
}

.logo_card {
    height: 20%;
    width: 100%;
    background-color: var(--dark-color);

}