body, html {
    margin: 0;
    padding: 0;
}

:root {
    --light-color: white;
    --dark-color: #121212;
    --dark-logo: rgba(18, 18, 18, 0.5);
}

.container {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: var(--dark-color);
    margin: 0;
    padding: 0;
}

.logo_img {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 70vh;
    background-image: url(./img/city_dark.jpg);
    background-size: 100%;
}

.logo_card {
    display: flex;
    margin-top: 20%;
    height: 20%;
    width: 100%;
    background-color: var(--dark-logo);
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 6vh;
    color: var(--light-color);
}

.citation {
    margin-top: auto;
    align-self: center;
    color: var(--light-color);
}

.citation > a {
    color: var(--light-color);
}